* {
  font-family: sans-serif;
}
body {
  background: linear-gradient(to top, rgba(236, 0, 0, 0.936), rgb(14, 5, 87));
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 100px;
  background: linear-gradient(
    to bottom right,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  box-shadow: 2px 2px 2px 2px black;
}
.article {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section1 {
  height: 1300px;
  width: 1000px;
  float: left;
  margin: 10px;
}

.aside {
  height: 300px;
  width: 1000px;
  background: linear-gradient(
    to bottom right,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  clear: both;
  margin-bottom: 10px;
}
.footer {
  height: 100px;
  background: linear-gradient(
    to bottom right,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  clear: both;
}
.box {
  height: 400px;
  width: 300px;
  float: left;
  margin: 12px;
  border: solid 2px black;
}
.back {
  height: 320px;
  width: 300px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 10px;
}
.buy {
  color: white;
  height: 50px;
  width: 300px;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
  box-shadow: 2px 2px 2px 2px black;
}
.buy:hover {
  background: linear-gradient(
    to top left,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  box-shadow: 5px 5px 5px 5px black;
}
.nav {
  width: 250px;
  float: left;
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
  height: 70px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.nav:hover {
  background: linear-gradient(
    to top left,
    rgba(236, 0, 0, 0.936),
    rgb(14, 5, 87)
  );
  height: 66px;
  width: 246px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px 5px black;
  text-shadow: 10px 10px 10px black;
}
