* {
  font-family: sans-serif;
}
body {
  background-color: orangered;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 100px;
  background-color: rgb(13, 13, 165);
  box-shadow: 2px 2px 2px 2px black;
}
.article {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section1 {
  height: 1300px;
  width: 1000px;
  float: left;
  margin: 10px;
}

.aside {
  height: 300px;
  width: 1000px;
  background-color: green;
  margin-bottom: 10px;
}
.footer {
  height: 100px;
  background-color: green;
}
.box {
  height: 400px;
  width: 300px;
  float: left;
  margin: 12px;
  border: solid 2px black;
}
.back {
  height: 320px;
  width: 300px;
  background-color: lightyellow;
  margin-bottom: 10px;
}
.buy {
  color: white;
  height: 70px;
  width: 300px;
  text-align: center;
  background-color: rgb(4, 93, 4);
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px black;
}
.buy:hover {
  background-color: green;
  box-shadow: 5px 5px 5px 5px black;
}
.nav {
  width: 250px;
  float: left;
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
  height: 100px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 1px 1px black;
  box-sizing: border-box;
}
.nav:hover {
  background-color: rgba(0, 0, 255, 0.353);
  height: 100px;
  width: 250px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px 5px black;
}
.clearfix {
  clear: both;
}
.logos {
  height: 100%;
  width: 100%;
}
